.btn_base {
    text-transform: none;
    font-weight: 600;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}

.btn_base:hover {
    box-shadow: none;
    filter: brightness(0.9);
}

/* Radios usando tus tokens */
.radius_none {
    border-radius: 0px;
}

.radius_sm {
    border-radius: 4px;
}

.radius_md {
    border-radius: 8px;
}

.radius_lg {
    border-radius: 12px;
}

.radius_full {
    border-radius: 9999px;
}

.full_width {
    width: 100%;
}