.skeleton {
    width: 60%;
    height: 40px;
}

.skeleton_center {
    margin-left: auto;
    margin-right: auto;
}

.skeleton_left {
    margin-left: 0;
}

.skeleton_right {
    margin-left: auto;
    margin-right: 0;
}