.skeleton {
    width: 60%;
    height: 40px;
}

.skeletonCenter {
    margin-left: auto;
    margin-right: auto;
}

.skeletonLeft {
    margin-left: 0;
}

.skeletonRight {
    margin-left: auto;
    margin-right: 0;
}