.form_container {
    border-radius: 12px;
    overflow: hidden;
}

.padding_container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.title_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.footer_container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
    margin-top: 8px;
}

.skeleton_title {
    margin: 0 auto 16px auto;
}

@media (max-width: 600px) {
    .grid_layout {
        grid-template-columns: 1fr;
    }
}